/*style reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	width: 100% !important;
	overflow-x:hidden;
	background: #ecf0f1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,

q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
em{
	color: #c0392b;
	text-transform: capitalize;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-style:italic;
	letter-spacing: -2px;
}
/*end style reset*/

html, body, .content{
	height: 100%;
}

.content{
	display: table;
	width: 100%;
}
.header{
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	text-align: center;
	background: #ecf0f1;
	color:#252525;
}
.header h1{
	font-size: 50px;
	margin-top: 20px;
	font-family: 'bebas_neueregular';
	color: #252525;
}

.generate{
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	text-align: center;
	height: 90px;
	background: rgba(255,255,255,0.5);
	background: #ecf0f1;
}

.btn{
	margin: 0 auto;
	width: 200px;
	padding: 15px;
	font-size: 35px;
	font-family: 'bebas_neueregular';
	border: 2px solid #252525;
	color: #252525;
	cursor: pointer;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn:hover{
	border: 2px solid #c0392b;
	color: #c0392b;
}


.center{
	width: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.outputContain{
	height: 600px;
	width: 100%;
	overflow: hidden;

	background-image: url(../line.svg),url(../line.svg);
	background-position: 10% center,90% center;
	-webkit-background-size: 20% 3px;
	-moz-background-size: 20% 3px;
	background-size: 20% 3px;
	

	background-repeat: no-repeat;
	
}
.output{
	float: left;
	width: 100%;

	-webkit-animation: rollIn 4s ease-in-out; /* Chrome, Safari, Opera */
	animation: rollIn 4s ease-in-out;
}

.outputRemove{
	margin-top: 100%;
}

.output span{
	float: left;
	width: 100%;
	line-height: 600px;
	font-family: 'bebas_neueregular';
	font-size: 200px;
	color: #252525;
}
.output span:nth-child(1){
	color: #c0392b;
}

.rollOut{
	-webkit-animation: rollOut .5s ease; /* Chrome, Safari, Opera */
	animation: rollOut .5s ease;
}


/*Animationer*/
/* Chrome, Safari, Opera */
@-webkit-keyframes rollIn
{
0% {margin-top: -6000px;}
95% {margin-top: 20px;}
100% {margin-top: 0;}
}

/* Standard syntax */
@keyframes rollIn
{
0% {margin-top: -6000px;}
95% {margin-top: 20px;}
100% {margin-top: 0;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes rollOut
{
from {margin-top: 0;}
to {
	margin-top: 300px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
}

/* Standard syntax */
@keyframes rollOut
{
from {margin-top: 0}
to {
	margin-top: 300px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
}






/* tablet (portrait and landscape) ----------- */
@media only screen 
and (max-width : 900px) {
	.header h1{
		font-size: 30px;
		margin-top: 10px;
		font-family: 'bebas_neueregular';
		color: #252525;
	}

	.btn{
		font-size: 20px;
		padding: 10px;
	}
	.generate{
		height: 60px;
	}

	.outputContain{
		height: 300px;

	}
	.output span{
		line-height: 300px;
		font-size: 100px;
	}

	.output{
	-webkit-animation: rollIn 3s ease-in-out; /* Chrome, Safari, Opera */
	animation: rollIn 3s ease-in-out;
	}

	.rollOut{
	-webkit-animation: rollOut .5s ease; /* Chrome, Safari, Opera */
	animation: rollOut .5s ease;
	}

	/*Animationer*/
/* Chrome, Safari, Opera */
@-webkit-keyframes rollIn
{
0% {margin-top: -3000px;}
95% {margin-top: 20px;}
100% {margin-top: 0;}
}

/* Standard syntax */
@keyframes rollIn
{
0% {margin-top: -3000px;}
95% {margin-top: 20px;}
100% {margin-top: 0;}
}


/* Chrome, Safari, Opera */
@-webkit-keyframes rollOut
{
from {margin-top: 0;}
to {
	margin-top: 150px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
}

/* Standard syntax */
@keyframes rollOut
{
from {margin-top: 0}
to {
	margin-top: 150px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
}

}


